.wrapper {
  padding: 50px 100px 50px 100px;
}

.input-wrapper {
  display: flex;
  justify-content: space-between;
}

.input-action-wrapper {
  width: 200px;
  display: flex;
  justify-content: space-between;
}
.result-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 300px;
}


.process-wrapper {
  display: flex;
  justify-content: space-evenly;
}